div.header {
  padding: 20px;
  text-align: center;
  background: white;
  color: black;
  font-size: 15px;
  border-bottom-style: solid;
  border-color: black;
  border-radius: 1px;
}

div.head_buttons {
  text-align: right;
  padding: 4;
  border-bottom-style: solid;
  border-color: black;
  border-radius: 1px;
}

.btns {
  margin: 5px;
  border: none;
  height: 36px;
  width: 80px;
  border-radius: 18px;
  transition-duration: .4s;
}

.btns:hover {
  background-color: grey;
  color: white;
}

body {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.link{
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.spotify {
  background-color: #1DB954;
  color: white;
  margin-top: 10px;
  border: none;
  height: 36px;
  width: 180px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition-duration: .4s;
}

.spotify:hover {
  background-color: #189b46;
  color: rgb(211, 211, 211);
}