div.header {
  padding: 20px;
  text-align: center;
  background: white;
  color: black;
  font-size: 15px;
  border-bottom-style: solid;
  border-color: black;
  border-radius: 1px;
}

body {
  text-align: center;
}

.spotify {
  background-color: #1DB954;
  color: white;
  margin-top: 5px;
  border: none;
  height: 36px;
  width: 180px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}